<form>
  <div class="container">
    <!-- <div class="row" style="font-size: 20px;">
    <label>Operator: </label>
    <input type="text" name="studentname" [(ngModel)] = "_student.name">
  </div> -->

    <div  style="font-size: 20px;"><label>Equipments:</label></div>
  <div *ngFor="let item of _equipmentlist" >
    <div>
    <div class="col-8 col-chk"><input type="checkbox" name="{{item.name}}" (change) = "onchange()" [(ngModel)] = "item.isselected"></div>
    <div class="col-35"><label>{{item.name}}</label></div>
    </div>

  </div>
  </div>
</form>